.mint-searchbar{
	background-color: #26a2ff; 
	height: 40px;
}
.mint-searchbar-inner{
	border-radius: 15px;
	height: 25px;
	margin-top: 2.5px;
	background: #e9ecf1;
}
.mint-tabbar{
	background: skyblue;
}
.mint-tab-item{
	background: #14bbff;
}